#display {
  width: 95%;
  height: fit-content;
  z-index: -1;
  padding: 0 10px 80px 10px;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  padding-top: 80px;
}
